@import url('main.css');

/** header component */
.headerPage{
    display: flex; align-items: center; justify-content: space-between;
    padding: 1rem 2rem;
    position: relative;
}

/* * mobile navigation */
.bg_openMenu{
    background-color: rgba(9, 9, 9, 0.2);
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    backdrop-filter: blur(1.5px);
    display: none;
}
.mobileMenu{
    background-color: var(--light_gray);
    padding: 2rem 0;
    position: absolute;
    /*
    right: 0; top: 0;
    width: 70%; height: 100vw;
    */
    right: -100%; top: 0;
    width: 0; height: 0;
    overflow: hidden;
    border-top-left-radius: 20px; border-bottom-left-radius: 20px;
    z-index: 2;
    display: flex; flex-direction: column;
    align-items: start;
}

.mobileMenu_btn{
    border: none; outline: none;
    border-radius: 50%;
    padding: .4rem .5rem; background-color: transparent;
    cursor: pointer;
    transition: background-color .3s ease;
}

.mobileMenu_btn img{
    width: 1.5rem;
}


.mobileMenu li, .mobileItem{
    display: flex; width: 100%;
}

.mobileItem{
    padding: .5rem 1rem;
    background-color: transparent;
    transition: background-color .3s ease-in-out;
}

.mobileMenu_footer{
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    margin-top: 1rem; 
    width: 100%;
}

.socialIcons_container{
    width: fit-content;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.mobile_socialItem{
    border: none;
    outline: none; background-color: transparent;
    cursor: pointer;
    width: 100%;
    padding: .5rem 1rem;
    display: flex; align-items: center; justify-content: start;


}

.mobile_socialItem img{
    width: 2rem;
}

/** desktop header */
.desktopContainer{
    display: flex; align-items: center; justify-content: flex-end;
    width: 100%;
}

.desktopMenu{
    display: flex; align-items: center; justify-content: space-between;
    gap: 1rem;
    padding: .5rem 0;
}

.desktopMenu li, .desktopMenu a{
    width: 100%; text-wrap: nowrap;
}

.desktopItem{
    padding: .5rem 1rem;
    position: relative;
    background-color: transparent;
    font-size: clamp(14px, 1vw, 16px);
}

.desktopMenuButton{
    font-size: clamp(14px, 1vw, 16px);
    margin: 0 2rem;
}

.desktop_socials{
    display: flex; align-items: center; justify-content: center;
    gap: .5rem;
    margin-left: 2rem;
}

.desktop_socials .socialButton{
    display: flex; align-items: center; justify-content: center;
    padding: .5rem;
    border-radius: 50%;
    border: none; outline: none;
    background-color: transparent;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.socialButton img{
    width: 1.2rem;
}
