/** importing others css files */
@import url('components.css');
@import url('animations.css');

/** fonts configurations */
/** Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/poppins-v23-latin-regular.woff2');
    font-weight: 400; font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/poppins-v23-latin-600.woff2');
    font-weight: 600; font-style: noemal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/poppins-v23-latin-800.woff2');
    font-weight: 800; font-style: normal;
    font-display: swap;
}

/** Inter */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/inter-v19-latin-regular.woff2');
    font-weight: 500; font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/inter-v19-latin-300.woff2');
    font-weight: 300; font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/inter-v19-latin-700.woff2');
    font-weight: 700; font-style: normal;
    font-display: swap;
}

/* root */
:root{
    /* colors */
    --yellow: #ffd442;
    --yellowHover: #ffc400;
    --yellow300: #f1d169;
	--blue: #305B91;
	--dark_gray: #343434;
	--light_gray: #F2F2F2;
    --whiteBg: white;
    
    /* text */
    --h1Sizes: clamp(1.25rem, 1vw, 2rem);
    --h2Sizes: clamp(.875rem, 1vw, 1.5rem);
    --h3Sizes: clamp(.75rem, 1vw, 1rem);
    --h4Sizes: clamp(.625rem, 1vw, 1rem);
    --pSizes: clamp(.625rem, 1vw, 1.125rem);
    --detailSizes: clamp(.5rem, 1vw, 1rem);

    --titleFont: 'Poppins', Helvetica, sans-serif;
    --textsFont: 'Inter', Arial, sans-serif;

    /* breakpoints */
    --mobileMinWidth: 20rem; 
    --tabletMinWidth: 46.5rem;
    --desktopMinWidth: 64rem;
}

/** reseting configurations */
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

html{
    display: flex; justify-content: center;
    width: 100%;

}

body{
    background-color: var(--whiteBg);
    color: var(--dark_gray);
    display: flex; flex-direction: column;
    gap: 2rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-width: var(--mobileMinWidth);
    max-width: 1500px;
    width: 100%;
    position: relative;
    border: 1px solid blue;
}

h1, h2, h3, h4, h5, h6,
a, button{font-family: var(--titleFont);}

p, li, label, input{font-family: var(--textsFont);}

a{
    color: var(--dark_gray);
    text-decoration: none;
}

ul{
    list-style: inside;
    list-style-type: none;
}


/** medias queries */

@media screen and (min-width: 320px) and (max-width: 826px) {
   .mobileContainer{ display: flex; } 
   .desktopContainer{ display: none;}
}

@media screen and (min-width: 827px) {
    .mobileContainer{ display: none; }
    .desktopContainer{ display: flex;}
}

@media screen and (max-width: 1000px){
    .desktop_socials{ display: none;}
    .desktopMenuButton{
        margin: 0;
        margin-left: 2rem;
    }
}

/** global components */
.button_primary{
    padding: .5rem 2rem;
    display: flex; place-content: center;
    border: none; outline: none;
    background-color: var(--yellow);
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}