/** importing others css files */
@import url('components.css');
@import url('animations.css');

/** fonts configurations */
/** Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/poppins-v23-latin-regular.woff2');
    font-weight: 400; font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/poppins-v23-latin-600.woff2');
    font-weight: 600; font-style: noemal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/poppins-v23-latin-800.woff2');
    font-weight: 800; font-style: normal;
    font-display: swap;
}

/** Inter */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/inter-v19-latin-regular.woff2');
    font-weight: 500; font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/inter-v19-latin-300.woff2');
    font-weight: 300; font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/inter-v19-latin-700.woff2');
    font-weight: 700; font-style: normal;
    font-display: swap;
}

/* root */
:root{
    /* colors */
    --yellow: #ffd442;
    --yellowHover: #ffc400;
    --yellow300: #f1d169;
	--blue: #305B91;
	--dark_gray: #343434;
    --textColor: #1e1e1e;
	--light_gray: #F2F2F2;
    --whiteBg: white;
    --blackOpacity: #0000009f;
    
    /* text */
    --h1Sizes: clamp(1.25rem, 1vw, 2rem);
    --h2Sizes: clamp(.875rem, 1vw, 1.5rem);
    --h3Sizes: clamp(.75rem, 1vw, 1rem);
    --h4Sizes: clamp(.625rem, 1vw, 1rem);
    --pSizes: clamp(.625rem, 1vw, 1.125rem);
    --detailSizes: clamp(.5rem, 1vw, 1rem);

    --titleFont: 'Poppins', Helvetica, sans-serif;
    --textsFont: 'Inter', Arial, sans-serif;

    /* breakpoints */
    --mobileMinWidth: 20rem; 
    --tabletMinWidth: 46.5rem;
    --desktopMinWidth: 64rem;

    /* sizes */
    --halfScreen: 50vw;
}

/** reseting configurations */
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6,
a, button{
    font-family: var(--titleFont);
    color: var(--dark_gray);
}

p, ul{
    font-family: var(--textsFont);
    color: var(--dark_gray);
}


/** global compoments */
.subtitle{
    color: var(--blue);
    font-size: clamp(.875rem, 1vw, .9rem);
    font-weight: 600;
    position: relative;
    text-indent: 6px;
}

.subtitle::before{
    content: '';
    position: absolute;
    left: 0;
    width: 3px; height: 100%;
    background-color: var(--blue);
    border-radius: .25rem;
}